{% extends "base.html" %}{% load staticfiles i18n compress %}
{% block content %}
    <div class="fh5co-slider">

        <div class="owl-carousel owl-carousel-fullwidth">
{#        <div>#}
            <!-- ==================== Map ==================== -->
            <div id="map" style="width:100%;min-height:635px;min-width:200px;height:100%;text-align: center"></div>
            <!-- jQuery -->

            <!-- ==================== ================================================================== ==================== -->

        </div>
    </div>


    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <h3>wifinder info</h3>
        </div>
        <div class="divInfo">
            <div id="divMapInfo">N/A</div>
            <!--<br>-->
            <!--<p>NAK</p>-->
        </div>
    </nav>
    <div class="containerSlide">
        <div class="mainSlide">
            <section>
                <button id="showRight">info</button>
            </section>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="/static/js/main.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=initialize"></script>
    <script>

        initialize();
    </script>
    <script src="/static/SlidePushMenus/js/classie.js"></script>
    <script>
        var menuRight = document.getElementById('cbp-spmenu-s2'),
            showRight = document.getElementById('showRight');
        classie.toggle(menuRight, 'cbp-spmenu-open');

        showRight.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(menuRight, 'cbp-spmenu-open');
            disableOther('showRight');
        };

        function disableOther(button) {

            if (button !== 'showRight') {
                classie.toggle(showRight, 'disabled');
            }
        }

    </script>
    {{ block.super }}

    <script src="{% static 'js/vendor/main_temp.js' %}"></script>

{% endblock %}
